{% extends 'main/base.html' %}
{% load humanize %}
{% block title %}
<title>{{board.name}}</title>
{% endblock %}

{% block body%}

<div class="container p-5 my-5 text-black">
  <center>
    <img class="img-fluid" src="{{board.banner.url}}" height="500px" width="300px">
    <br>
    <h4 style="color:crimson">board/{{board.name}}</h4>
    <br>
  <a href="{% url 'main:create_post' board=board.name %}">
  <button class="btn btn-outline-primary">Start A New Thread</button>
  </a>
  </center>
  <br>
  <div class="row" align="center">
  {% for post in Posts %}
  <div class="col-sm-3 p-3 bg-transparent text-black">
    <div class="card border-success mb-3 bg-dark">
      <div class="row g-0">
        <div class="col-md-6">
          <br><br><br>
          <img src="{{post.image.url}}" height='100' width='100'>
          <div class="card-footer">
            <small class="text-muted">{{post.comments__count}} Comments</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-header">
            <a href="{% url 'main:board' board=post.board.name %}" class="btn btn-outline-secondary">{{post.board.name}}</a>
          </div>
          <div class="card-body">
            {% if post.name %}
              <p class="card-title">Posted By: {{post.name}}</p>
            {% endif %}
            <a  href="{{post.get_absolute_url}}" class="card-title" style="text-decoration: none">{{post.title}}</a>
            <p class="card-text" style="color:lavender">{{post.body|truncatechars:20}}</p>
             <div class="card-footer">
               <small class="text-muted">{{post.created|naturaltime}}</small>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>

    <br><br>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}










<p>{{board.board_name}}</p>
{% for post in Posts %}
    <p>{{post.title}}</p>
{% endfor %}